## Jupyter ##
.ipynb_checkpoints
__pycache__

## Datasets Spotify ##
spot_mpd
spot_mpdc

## LookupTables ## 
SongIdToIndex.p
albumIdToIndex.p
artistIdToIndex.p
SongIndexToId.p

#Directories
dataSubsets

## Other
getToken.py

## Matrixes ## 
UserItemMatrix.npz
TestUserItemMatrix.npz
TrainUserItemMatrix.npz
ValidationUserItemMatrix.npz

## Models ## 
model.p


## Mac ## 
.DS_Store
